@page
@model FondaCatiuxca.Pages.Menus.IndexModel
@{
    
}

@*<div class="form-group">
    <div class="input-group">
        <input type="searh" class="form-control"
               asp-for=""/>
    </div>
</div>*@

<h1>Menus</h1>

@foreach(var menu in Model.Menus)
{
    <partial name="_partialViewListaMenus" model="menu"/>
}

<a asp-page="./EditarMenu" class="btn btn-primary">Crear Nuevo Menu</a>