@page
@model FondaCatiuxca.Pages.IndexModel
@{
    ViewData["Title"] = "Fonda Catiuxca";
}


@foreach (var menu in Model.Menus)
{
    <partial name="Menus/_partialViewListaMenus" model="menu" />
}

@*<a asp-page="Menus/EditarRestaurante" class="btn btn-primary">Crear Nuevo Menu</a>*@

@section footer{ 
    <div>Fonda Catiuxca 2020</div>
}
